/* CSS Document */

body {
	margin: 0px ; 
	background-image: url(../images/bg/beige-background.jpg);
	background-size: cover;
}

#regist {
	position: absolute; 
	top: 50% ; 
	align-items: center ; 
	left: 35% ; 
	align-content: center ; 
	font-size: 24px ;
	padding: 20px ; 
	width: 450px  ; 
}
#username{
	margin-left: 66px  ; 
}
#pass1{
	margin-left: 2px ; 
}

#name1{
		margin-left: 105px   ; 

}
#email1{
	margin-left: 105px  ; 
}



h1{
	position: absolute; 
	left: 35% ; 
	top: 10%  ; 
	width: auto  ; 	
	padding-top: 60px ; 
	margin: auto ; 
	font-size: 36px ; 
	
}
.submit {
	position: relative ; 
	width: auto;
	height: auto; 
	align-items: right;
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin: 20px ; 
	margin-left: 275px; 
	padding: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: white;
	font-size: 24px;
	cursor: pointer;
	text-shadow: 2px 2px black;
	background: rgba(69,69,69,0.8)
}
.submit:hover {
	box-shadow: 0 12px 16px 0 rbga(0, 0, 0, 0, .24), 0 17px 50px 0 rgba(0,0,0,0.19);
	text-align: right;
}